<!DOCTYPE html>
<html>
<head>
  <title>TaskManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

  <% flash.each do |name, message| %>
    <div class="<%= name %>">
      <p><%= message %></p>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
